<!DOCTYPE html>
<html lang="en" >

<head>

     <meta charset="UTF-8">
  <!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
     <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
     <link href="/client/css/bootstrap-tag-cloud.css" rel="stylesheet">
     <link rel="stylesheet" href="/client/file.css">
     <title>Stock Market Charts</title>

</head>

<body ng-app="myApp">
    <div class="container container-fluid" ng-controller="mainController" >
    <div id="container" style="height: 400px; min-width: 310px">    </div>
    
             <div id="tag-info" class="input-append">
                  <input ng-keyup="$event.keyCode == 13 && addStock(s_name)" id="stock_input" type="text" placeholder="Enter stock symbol" ng-model="s_name"> <!--get StockName from here -->
                  <button id="addsymbol" class="btn btn-success btn-sm" type="button" ng-click="addStock(s_name)">Add <i class="fa fa-plus"></i></button>
             </div>
             <ul id="tag-cloud">
             
                 <li class="tag-cloud tag-cloud-info" ng-repeat="stock in name_list" ng-click="removeOne(stock)" ng-cloak>{{stock}}</li>
             </ul>
    
    </div>
    
    
</body>
    <script src="/bower_components/socket.io/socket.io.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="/bower_components/highcharts/highstock.js"></script>
    <script src="/bower_components/highcharts/modules/exporting.js"></script>
    <script src="/client/js/bootstrap-tag-cloud.js"></script>
    <script src="/client/client.js"></script>
    
</html>

